<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PANTHEON_ARENA_CLI_v1.0.5</title>
    <link rel="stylesheet" href="/static/css/estilo.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
</head>

<body>

    <!-- BUFFER DE OUTPUT -->
    <div id="terminal-output"></div>

    <!-- PROMPT DE INPUT -->
    <div id="terminal-input-container">
        <span id="prompt-label">C:\ELISIA\ARENA></span>
        <input type="text" id="command-input" autocomplete="off" autofocus placeholder="Digite um comando...">
    </div>

    <script src="/static/js/jogo.js"></script>
</body>

</html>